/* Include the following line at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,500;0,700;1,400&family=Roboto+Slab:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');


body {
  margin: 0;
  font-family: Roboto Slab, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {


    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px rgba(151, 148, 148, 0.5);
    padding: 20px;
    align-items: center;
    font-family: Roboto Slab, serif;

  
  
  }

.navbar h1 {

  font-size: 25px;
  color: rgb(176, 42, 42);


}


.navbar a {

  font-size: 15px;
  text-decoration: none;
  color: gray;



}

.button-bar {

    display: flex;
  

}

.home-button {

  margin-right: 30px;

}


.form-preview {

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  font-family: Roboto Slab, serif;
  font-size: 16px;
  color: rgb(176, 42, 42);
  box-shadow: 1px 1px 2px rgba(151, 148, 148, 0.5);
  padding-bottom: 10px;
  
  



}


.form-preview form {

  box-shadow: none;


}



.form-preview input,
.form-preview textarea {

  margin-right: 15px;
  padding: 7px;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 5px;
  border-style: solid;
  margin-left: 5px;




}

.area-code {

    width: 50px;
  
   

}



.add-div {

  display: flex;
  align-items: center;


}


.submit-div {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;


}

.submit-div button {

  width: fit-content; 
  color: rgb(249, 238, 238);
  background-color: rgb(7, 137, 137);
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  
  
}


.submitted {

  margin-left: 25px;

}


